peft==0.2.0
transformers==4.27.2
datasets==2.9.0
accelerate==0.17.1
evaluate==0.4.0
bitsandbytes==0.38.1
huggingface_hub==0.14.1
numpy==1.24.3
torch==2.0.1
py7zr==0.20.5
rouge-score==0.1.2
streamlit==1.19.0
altair<5
pytest==7.3.1